Repository Shi-553/music-assistant-nicovideo-fixtures: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-json, check-toml, mypy

ruff-check:
  name: 🐶 Ruff Linter
  language: system
  entry: ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: 🐶 Ruff Formatter
  language: system
  entry: ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: check-ast

check-json:
  name: ｛ Check JSON files
  language: system
  entry: check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: check-toml

mypy:
  name: 🔍 mypy
  entry: mypy
  language: system
  require_serial: true
  pass_filenames: false
  args:
  - scripts

Add GitHub Actions workflow for automated fixture updates
  .github/workflows/update-fixtures.yml
  pyproject.toml
  scripts/api_fixture_collector.py
  scripts/generation_orchestrator.py
  scripts/helpers.py
Due: ruff-check, ruff-format, check-ast, check-toml, mypy

Fix GitHub Actions workflow output handling
  .github/workflows/update-fixtures.yml
Due: none

Fix: Check if generated/fixtures directory exists before git diff
  .github/workflows/update-fixtures.yml
Due: none

Fix: Use PYTHONPATH instead of editable install for scripts
  .github/workflows/update-fixtures.yml
Due: none

Fix: Use Shi-553/server fork with add-niconico-provider branch
  .github/workflows/update-fixtures.yml
Due: none

Fix: Use correct fixtures directory path
  .github/workflows/update-fixtures.yml
Due: none

Fix: Detect new fixture files in git diff
  .github/workflows/update-fixtures.yml
Due: none

Add permissions for GitHub Actions to push commits and create issues
  .github/workflows/update-fixtures.yml
Due: none

Improve fixture updates
  .github/workflows/update-fixtures.yml
  .gitignore
Due: none

Add test verification step to issue instructions
  .github/workflows/update-fixtures.yml
Due: none

Remove artifact upload step
  .github/workflows/update-fixtures.yml
Due: none

Add force_issue_creation flag for testing
  .github/workflows/update-fixtures.yml
Due: none

Fix ruff path and mypy configuration
  fixture_types.py
  pyproject.toml
  scripts/fixture_type_mapping.py
Due: ruff-check, ruff-format, check-ast, check-toml, mypy

Remove unused _find_server_root method
  scripts/fixture_type_mapping.py
Due: ruff-check, ruff-format, check-ast, mypy

Fix ruff installation in GitHub Actions workflow
  .github/workflows/update-fixtures.yml
Due: none

Fix workflow to skip commit when no changes detected
  .github/workflows/update-fixtures.yml
Due: none

Add N999 to ruff ignore list for hyphenated repository name
  pyproject.toml
Due: check-toml

Remove N999 from ignore list after repository rename
  pyproject.toml
Due: check-toml

Fix issue creation to handle missing files when no changes detected
  .github/workflows/update-fixtures.yml
Due: none

Fix venv creation with --copies flag for GitHub Actions
  .github/workflows/update-fixtures.yml
Due: none

Remove old venv before creation to avoid cache issues
  .github/workflows/update-fixtures.yml
Due: none

Use repository name in cache key instead of rm -rf .venv
  .github/workflows/update-fixtures.yml
Due: none

Reorganize to fixture_data/generated/ structure and remove Music Assistant dependencies
  fixture_data/__init__.py
  fixture_data/generated/__init__.py
  fixture_data/generated/fixture_types.py
  fixture_data/generated/fixtures/albums/own_series.json
  fixture_data/generated/fixtures/albums/single_series_details.json
  fixture_data/generated/fixtures/albums/user_series.json
  fixture_data/generated/fixtures/artists/following_users.json
  fixture_data/generated/fixtures/artists/user_details.json
  fixture_data/generated/fixtures/history/user_history.json
  fixture_data/generated/fixtures/history/user_likes.json
  fixture_data/generated/fixtures/playlists/following_mylists.json
  fixture_data/generated/fixtures/playlists/own_mylists.json
  fixture_data/generated/fixtures/playlists/single_mylist_details.json
  fixture_data/generated/fixtures/search/mylist_search.json
  fixture_data/generated/fixtures/search/series_search.json
  fixture_data/generated/fixtures/search/video_search_keyword.json
  fixture_data/generated/fixtures/search/video_search_tags.json
  fixture_data/generated/fixtures/stream/stream_data.json
  fixture_data/generated/fixtures/tracks/own_videos.json
  fixture_data/generated/fixtures/tracks/user_videos.json
  fixture_data/generated/fixtures/tracks/watch_data.json
  fixture_data/types.py
  scripts/api_fixture_collector.py
  scripts/constants.py
  scripts/field_stabilizer.py
  scripts/fixture_type_mapping.py
  scripts/generation_orchestrator.py
  scripts/helpers.py
Due: ruff-check, ruff-format, check-ast, check-json, mypy

Rename to shared_types.py and fixture_type_mappings.py for clarity
  fixture_data/generated/fixture_type_mappings.py
  fixture_data/shared_types.py
  scripts/api_fixture_collector.py
  scripts/constants.py
  scripts/fixture_type_mapping.py
Due: ruff-check, ruff-format, check-ast, mypy

Refactor: Use flat fixture_data structure with relative imports
  README.md
  fixture_data/__init__.py
  fixture_data/fixture_type_mappings.py
  fixture_data/fixtures/albums/own_series.json
  fixture_data/fixtures/albums/single_series_details.json
  fixture_data/fixtures/albums/user_series.json
  fixture_data/fixtures/artists/following_users.json
  fixture_data/fixtures/artists/user_details.json
  fixture_data/fixtures/history/user_history.json
  fixture_data/fixtures/history/user_likes.json
  fixture_data/fixtures/playlists/following_mylists.json
  fixture_data/fixtures/playlists/own_mylists.json
  fixture_data/fixtures/playlists/single_mylist_details.json
  fixture_data/fixtures/search/mylist_search.json
  fixture_data/fixtures/search/series_search.json
  fixture_data/fixtures/search/video_search_keyword.json
  fixture_data/fixtures/search/video_search_tags.json
  fixture_data/fixtures/stream/stream_data.json
  fixture_data/fixtures/tracks/own_videos.json
  fixture_data/fixtures/tracks/user_videos.json
  fixture_data/fixtures/tracks/watch_data.json
  fixture_data/generated/__init__.py
  scripts/constants.py
  scripts/fixture_type_mapping.py
  scripts/main.py
Due: ruff-check, ruff-format, check-ast, check-json, mypy

Refactor: Reorganize project structure and fix pre-commit
  .pre-commit-config.yaml
  fixture_generator/__init__.py
  fixture_generator/api_fixture_collector.py
  fixture_generator/constants.py
  fixture_generator/diff_tracker.py
  fixture_generator/field_stabilizer.py
  fixture_generator/fixture_saver.py
  fixture_generator/fixture_type_mapping.py
  fixture_generator/generation_orchestrator.py
  fixture_generator/helpers.py
  fixture_generator/main.py
  fixture_generator/types.py
  scripts/run-in-env.sh
Due: ruff-check, ruff-format, check-ast, mypy

refactor: Move packages to src/ layout
  README.md
  src/fixture_data/__init__.py
  src/fixture_data/fixture_type_mappings.py
  src/fixture_data/fixtures/albums/own_series.json
  src/fixture_data/fixtures/albums/single_series_details.json
  src/fixture_data/fixtures/albums/user_series.json
  src/fixture_data/fixtures/artists/following_users.json
  src/fixture_data/fixtures/artists/user_details.json
  src/fixture_data/fixtures/history/user_history.json
  src/fixture_data/fixtures/history/user_likes.json
  src/fixture_data/fixtures/playlists/following_mylists.json
  src/fixture_data/fixtures/playlists/own_mylists.json
  src/fixture_data/fixtures/playlists/single_mylist_details.json
  src/fixture_data/fixtures/search/mylist_search.json
  src/fixture_data/fixtures/search/series_search.json
  src/fixture_data/fixtures/search/video_search_keyword.json
  src/fixture_data/fixtures/search/video_search_tags.json
  src/fixture_data/fixtures/stream/stream_data.json
  src/fixture_data/fixtures/tracks/own_videos.json
  src/fixture_data/fixtures/tracks/user_videos.json
  src/fixture_data/fixtures/tracks/watch_data.json
  src/fixture_data/shared_types.py
  src/fixture_generator/__init__.py
  src/fixture_generator/api_fixture_collector.py
  src/fixture_generator/constants.py
  src/fixture_generator/diff_tracker.py
  src/fixture_generator/field_stabilizer.py
  src/fixture_generator/fixture_saver.py
  src/fixture_generator/fixture_type_mapping.py
  src/fixture_generator/generation_orchestrator.py
  src/fixture_generator/helpers.py
  src/fixture_generator/main.py
  src/fixture_generator/types.py
Due: ruff-check, ruff-format, check-ast, check-json, mypy

ci: update-fixtures ワークフローを src/ レイアウトに合わせて更新
  .github/workflows/update-fixtures.yml
Due: none

fix: Rename types.py to fixture_types.py to resolve circular import
  src/fixture_data/fixture_type_mappings.py
  src/fixture_generator/api_fixture_collector.py
  src/fixture_generator/diff_tracker.py
  src/fixture_generator/field_stabilizer.py
  src/fixture_generator/fixture_saver.py
  src/fixture_generator/fixture_type_mapping.py
  src/fixture_generator/fixture_types.py
  src/fixture_generator/generation_orchestrator.py
  src/fixture_generator/helpers.py
Due: ruff-check, ruff-format, check-ast, mypy

fix: Include src.fixture_data.shared_types in auto-import generation
  src/fixture_generator/fixture_type_mapping.py
Due: ruff-check, ruff-format, check-ast, mypy

refactor: Simplify import detection to avoid hardcoding
  src/fixture_generator/fixture_type_mapping.py
Due: ruff-check, ruff-format, check-ast, mypy

feat: Convert src.fixture_data imports to relative imports
  src/fixture_data/fixture_type_mappings.py
  src/fixture_generator/fixture_type_mapping.py
Due: ruff-check, ruff-format, check-ast, mypy

refactor: improve type mapping generation with dynamic package detection
  src/fixture_generator/generation_orchestrator.py
  src/fixture_generator/helpers.py
  src/fixture_generator/main.py
  src/fixture_generator/type_mapping_generator.py
Due: ruff-check, ruff-format, check-ast, mypy

Add run_fixture_generator.sh script and update execution method
  .github/workflows/update-fixtures.yml
  README.md
  scripts/run_fixture_generator.sh
  src/fixture_generator/main.py
Due: ruff-check, ruff-format, check-ast, mypy

fix: update niconico.py dependency to specific version
  pyproject.toml
Due: check-toml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  mypy: any of: \.py$
